/back/app/config/parameters.yml
/back/build/
/back/phpunit.xml
/back/var/*
!/back/var/cache
/back/var/cache/*
!back/var/cache/.gitkeep
!/back/var/logs
/back/var/logs/*
!back/var/logs/.gitkeep
!/back/var/sessions
/back/var/sessions/*
!back/var/sessions/.gitkeep
!back/var/SymfonyRequirements.php
/back/vendor/
/back/web/bundles/
