@import "../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

/* omgomgomgomgomgomg */

body{
  .row{
    background-color: blue;
    font-size: 40em;
    color: red;
    text-align: center;
  }
}
